nav.navigation
  .nagvigation__wrapper
    a.navigation__link(href="/")
      | Floema
      svg.navigation__link__icon

    ul.nagivation__list
      li.nagivation__list__item
        a.navigation__list__link(href="/home") blah1
      li.nagivation__list__item
        a.navigation__list__link(href="/about") blah2
